
img {
  display: block;
  width:384px;
  margin: 50px auto;
}

h1 {
  padding-left: 10px;
  display: block;
  font: 50px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

h2 {
  padding-left:10px;
  font: 40px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

p, dl {
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

button {
  width = 50px;
}
